.board {
    display: grid;
    grid-gap: 4px;
    min-width: 550px; 
    min-height: 550px;
}

.btn-new-game {
    border-radius: 0;
    background-color: gray;
    padding: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 1rem;
}

.show {
    opacity: 0;
    /* @keyframes name | duration | iteration-count | fill-mode | */
    animation: show 3s 1 forwards;
}  

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

